## Nexus3 URL:
registry = https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/fed-npm-all/

## ChromeHeadless binaries download location
puppeteer_download_host=https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/npm-3rd-party-raw-hosting/

## node-sass binaries download location
sass_binary_site=https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/npm-3rd-party-raw-hosting/node-sass

## Azure deployment agents need this
proxy=null
https-proxy=null

## Npm version config
git-tag-version=false
